@tailwind base;
@tailwind components;

/*****************************************************************************/
/* Global vars */
:root {
    --foreground-rgb: 63, 63, 63;
    --background-rgb: 255, 255, 255;

    --primary-rgb: 229, 43, 0;
    --primary-hover-rgb: 183, 34, 0;

    --secondary-rgb: 255, 255, 255;
    --secondary-hover-rgb: 248, 248, 248;

    --navbar-height: 77px;
    --content-height: calc(100vh - var(--navbar-height));
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;

        --primary-rgb: 26, 64, 107;
        --primary-hover-rgb: 26, 64, 107;

        --secondary-rgb: 0, 0, 0;
        --secondary-hover-rgb: 7, 7, 7;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

nav {
    height: var(--navbar-height);
}

main {
    height: var(--content-height);
    overflow-y: auto;
}

/*****************************************************************************/
/* Buttons */
@layer components {
    .btn {
        @apply rounded px-4 py-1 text-center transition-all;
    }

    .btn-lg {
        @apply py-2 text-xl;
    }

    .btn-sm {
        @apply px-2;
    }

    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-hover;
    }

    .btn-primary-outline {
        @apply bg-white text-primary hover:bg-primary hover:text-white;
    }

    .btn-secondary {
        @apply bg-secondary hover:bg-secondary-hover;
    }

    .btn:disabled {
        @apply opacity-60;
    }
}

@tailwind utilities;
