@tailwind base;
@tailwind components;

/*****************************************************************************/
/* Global vars */
:root {
    --foreground-rgb: rgb(63, 63, 63);
    --background-rgb: rgb(255, 255, 255);

    --primary-rgb: rgb(229, 43, 0);
    --primary-hover-rgb: rgb(183, 34, 0);

    --navbar-height: 77px;
    --content-height: calc(100vh - var(--navbar-height));
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: rgb(255, 255, 255);
        --background-rgb: rgb(0, 0, 0);

        --primary-rgb: rgb(26, 64, 107);
        --primary-hover-rgb: rgb(26, 64, 107);
    }
}

body {
    color: var(--foreground-rgb);
    background: var(--background-rgb);
}

nav {
    height: var(--navbar-height);
}

main {
    height: var(--content-height);
    overflow-y: auto;
}

/*****************************************************************************/
/* Buttons */
@layer components {
    .btn {
        @apply rounded px-4 py-1 text-center transition-all hover:bg-slate-100;
    }

    .btn-lg {
        @apply py-2 text-xl;
    }

    .btn-sm {
        @apply px-2;
    }

    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-hover;
    }

    .btn-primary-text {
        @apply bg-transparent text-primary hover:bg-primary hover:text-white;
    }

    .btn-primary-outline {
        @apply border-[1px] border-primary bg-transparent text-primary hover:bg-primary hover:text-white;
    }

    .btn:disabled {
        @apply opacity-60;
    }
}

@tailwind utilities;
